[Unit]
Description=Gunicorn instance to serve Freezr
After=network.target

[Service]
User=__USER__
Group=__USER__
WorkingDirectory=__APP_DIR__
Environment="PATH=__VENV_DIR__/bin"
ExecStart=__VENV_DIR__/bin/gunicorn -w 2 -b 0.0.0.0:8000 'freezr:create_app()'

[Install]
WantedBy=multi-user.target
